.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 80vw;
  height: 80vh;
  margin: auto;
}

.square {
  align-items: center;
  font-size: 30px;
  color: black;
}

@media (max-width: 600px) {
  .chessboard {
    width: 90vw;
    height: 90vh;
  }
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}
